html, body {
    height: 100%; /* Ensure the body takes the full height */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
}
.navbar .navbar-brand {
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #fff; /* Default color */
    transition: all 0.3s ease; /* Smooth transition */
}

    /* Glowing effect on hover */
    .navbar .navbar-brand:hover {
        color: #f39c12; /* Gold color on hover */
        text-shadow: 0 0 8px rgba(243, 156, 18, 0.8), 0 0 15px rgba(243, 156, 18, 0.7); /* Glowing effect */
    }
*, *::before, *::after {
    box-sizing: border-box;
}
/* Base style for navbar icons */
.navbar .nav-link i {
    font-size: 1.2rem; /* Adjust the size of the icon */
    color: #fff; /* Default color (white) */
    transition: all 0.3s ease; /* Smooth transition for glow effect */
}

/* Glowing effect when hovered */
.navbar .nav-link:hover i {
    color: #f39c12; /* Gold color on hover */
    text-shadow: 0 0 8px rgba(243, 156, 18, 0.8), 0 0 15px rgba(243, 156, 18, 0.7); /* Glowing effect */
}

/* Optional: Glowing effect for dropdown icons */
.navbar .nav-item.dropdown:hover i {
    color: #f39c12; /* Gold color on hover for dropdown icons */
    text-shadow: 0 0 8px rgba(243, 156, 18, 0.8), 0 0 15px rgba(243, 156, 18, 0.7); /* Glowing effect */
}
.add-movie-btn {
    background-color: #28a745; /* Green background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-movie-button-container {
    display: flex;
    justify-content: end; /* Center the button horizontally */
    margin: 20px 0; /* Optional, to add space around */
}

.row {
    margin-left: 0;
    margin-right: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.content {
    min-height: 100%; /* Ensure content fills the height of the page */
    padding-bottom: 0; /* Ensure no extra padding at the bottom */
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1; /* Allow main content to expand and fill available space */
}
